# Resource locations to be added to the 'bootstrap' path
# This also contains the minimum you need to use the Ogre example framework

# Resource locations to be added to the default path
[Autodetect]
FileSystem=media/meshes

[General]
FileSystem=media/meshes
FileSystem=media/materials
FileSystem=media/ceed/xml_schemas
FileSystem=media/gui

[Imagesets]
FileSystem=media/ceed/imagesets

[Fonts]
FileSystem=media/ceed/fonts
FileSystem=media/fonts

[Schemes]
FileSystem=media/ceed/schemes

[LookNFeel]
FileSystem=media/ceed/looknfeel

[Layouts]
FileSystem=media/ceed/layouts

[Animations]
FileSystem=media/ceed/animations

[Overlays]
FileSystem=media/overlays